<div class="login">
<h1>Gollum needs you to log in.</h1> 
<p> 
  Use your SMASH! Basecamp account to log in. Don't worry, we won't be using it for anything else.
</p> 
<form action='/login' method='post'> 
  <input name='username' placeholder='Your Basecamp username' required='true' /> 
  <input name='password' placeholder='Your password' required='true' type='password' /> 
  <input type='submit' value='Log in' /> 
</form>
</div>